* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* font-family: "Poppins", sans-serif; */
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
}
.award {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  min-height: 48px;
  position: relative;
}
.award__p {
  font-size: 15px;
  color: #4b5563;
}
.award__image {
}

.award__img {
  position: absolute;
  right: 168px;
  top: 14px;
}
